.aaa {
    font-weight: bolder;
    padding-right: 10px;
    margin: 0px;
    margin-bottom: 7px;
    font-size: 14pt;
    color: rgb(124, 169, 206);
}

.bbb {
    font-weight: bolder;
    padding-right: 10px;
    margin: 0px;
    margin-bottom: 7px;
    font-size: 14pt;
    color: violet;
}

.btn2 {
    height: 30px;
    width: 150px;
    margin: 3px;
    border: solid white 2px;
    border-radius: 5px;
    color: white;
    background-color: #282c34;
    font-size: 15px;
    font-weight: bolder;
}

.btn2:hover {
    transform: scale(0.95);
}

.Comp {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282c34;
    min-height: 100vh;
    color: white;  
}

.listBtn {
	height: 40px;
    width: 200px;
    border: solid white 2px;
    border-radius: 5px;
    color: white;
    background-color: #282c34;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bolder;
    transition: all .2s ease-in-out;
}

.listBtn:hover {
    transform: scale(1.05);
} 

.ndBtn {
    height: 30px;
    width: 150px;
    margin: 3px;
    border: solid white 2px;
    border-radius: 5px;
    color: white;
    background-color: #282c34;
    font-size: 15px;
    font-weight: bolder;
}

.ndInput {
	color: #282c34;
    border: solid #282c34 2px;
    border-radius: 5px;
    height: 35px;
    width: 250px;
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
    margin: 2px;
    padding-left: 10px;
}

.nodeCard {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(238, 240, 163);
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    justify-content: center;
}