.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.iconheader {
  display:flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
  margin: 15px;
  animation: App-logo-spin infinite 5s linear;
}

.calculator {
  margin-top: 20px;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(5, 40px);
  grid-row-gap: 3px;
  grid-template-areas:
  "header"
  "input1"
  "input2"
  "buttons"
  "answer";
}

.no1 {
  grid-area: input1;
  text-align: center;
  align-self: end;
  width: 300px;
  height: 30px;
  justify-self: center;
  background-color: lightyellow;
  margin: 5px;
}

.no2 {
  grid-area: input2;
  align-self: start;
  text-align: center;
  width: 300px;
  height: 30px;
  justify-self: center;
  background-color: lightyellow; 
}

.btn {
  grid-area: buttons;
  align-self: start;
  display: grid;
  grid-template-columns: repeat(5, 54px);
  grid-column-gap: 7px;
  align-items: center;
  justify-content: center;
}

#btn2 {
  height: 20px;
  width: 100px;
  margin: 5px;
  border: solid white 2px;
  border-radius: 5px;
  color: white;
  background-color: #282c34;
  font-size: 12px;
}

table { 
  border: solid white 1px;
  border-collapse: collapse;
  font-size: 10pt;
}

td {
  border: solid white 1px;
  width: 120px;
  text-align: center;
  padding: 3px;
}